body{
    background-color: #314199 !important;
}

a{
    color: black !important;
 }

 a:link{
     text-decoration: none;
}

a.kp , a.About , a.Projects{
    color: white !important;
}

a.front-end:hover{
    color: gold !important;
}

a.coding:hover{
    color:    #00FFFF !important;
}

a.certi:hover{
    color: white !important;
}

.navbar{
    background-color: #314199;
}

.kp , .About , .Projects{
    color: white;
}

.togi{
    background-color: white;
}

.text1 , .p1{
    text-align: center;
}

.text1 , .text2 , .p1 , .p3{
    color: white;
}

.p1{
    margin-top: 2rem;
}

.testimonial-img{
    height: 304px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.testimonial-img1{
    width: 20%;
    border-radius: 100%;

}

.portfolio{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.fluid-container1{
    background-color: #314199;
}

#about{
    color: black;
}

.text2{
    text-align: center;
    margin-top: 9rem;
}

.p2{
    color: white;
    word-wrap: break-word;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.p3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.container{
    background-color: #cccccc;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}


.feature-box {
    text-align: center;
    padding: 7%;
}
  
.container1{
    height: 100px;
    width:100px;
}

.container2{
    margin-top: 1rem;
    margin-left: 6rem;
    height:255px;
    width:350px;
    background-color: #95c8d6;
    border-radius: 10px;
}

.container3{
    margin-top: 1rem;
    margin-left: 1rem;
    height:255px;
    width:350px;
    background-color: #2e9b76;
    border-radius: 10px;
}

.container4{
    margin-top: 1rem;
    margin-left: 1rem;
    height:255px;
    width:350px;
    background-color: #a3bb47;
    border-radius: 10px;
}

.container7{
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.container6{
    background: white;
    text-align: center;
    margin-top: 3rem;
}

.p3{
    text-align: center;
}

.link{
    text-align: center;
    margin-top: 1rem;
}

.cl{
    color: black;
}

#footer{
    padding:7% 15%;
    text-align: center;
    background-color: white;
  }

.social-icon{
    margin: 20px 10px;
  }



/* media query */
@media screen and (max-width:990px) {
    .feature-box{
        margin-left: 10rem;
    }
    
}

@media screen and (max-width:767px) {
    .feature-box{
        margin-left: 5rem;
    }
    
}

@media screen and (max-width:575px) {
    .feature-box{
        margin-left: 3rem;
    }
    
}

@media screen and (max-width:1200px) {
    .container7{
        display: block;
    }

    .container2 , .container3 , .container4{
        margin: auto;
        margin-top: 3rem;
    }
    
}

  